body {
	background: #009933;
	font-family: "Source Sans Pro";
	overflow-x: hidden;
	margin-left: auto;
	margin-right: auto;
	max-width: 768px;
}

#wrapper {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
}

#site-title {
	text-align: center;
	font-size: 3em;
	font-style: italic;
	color: white;
}

#site-description {
	text-align: center;
	font-family: inherit;
}

#horse-img {
	position: absolute;
	width: 40em;
	left: 60em;
	top: 7em;
	z-index: -1;
}

/* ------------
 common layout
--------------- */

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.ver-margin {
	margin: 0.5em 0 0.5em 0;
}

.hor-margin {
	margin: 0 2% 0 2%;
}

.separator-wide {
	width: 100%;
	margin: 1em auto 1em auto;
	border-bottom: 3px solid rgba(0,0,0,0.5);
}

.hidden {
	display: none;
}


/* -------------
 common buttons
---------------- */

.interactive-inner {
	/*background-color: #FFFF99;*/
	height: 1.5em;
	border-width: 1.2px;
	border-radius: 5px;
	border-color:  rgba(0,0,0,0.5);
	background-color: #007326;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,1);
	font-family: "Source sans pro", monospace;
	color: #FFFF99;
}

.interactive-inner:hover {
	background-color: #00802a;
	box-shadow: inset 0px 0px 5px rgba(0,50,0,1);
}

.interactive-outer {
	height: 1.5em;
	border-width: 1.2px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.8);
	font-family: "Source sans pro", monospace;
}

.interactive-outer:hover {
	box-shadow: 1.5px 2px 12px rgba(0,0,0,1);
	background-color: #ddddbb;

}
.interactive-outer:active {
	box-shadow: inset 0px 0px 5px rgba(0,50,0,1);
	background-color: #ddddbb;
}


/* ---------
 Menu stuff
------------ */


.field-title {
	margin-bottom : 0.5em;
	margin-top : 0;
}

#player-number-holder {
	justify-content: flex-start;	
}

.row-player-number {
	width:70%;
}

#player-number {
	width: 3em;
}

.player-row	 {
	justify-content: space-between;
    animation-name: dropUp;
    animation-duration: 0.7s;
}

@keyframes dropUp {
	0% { 
		transform: scale(1.1) translateY(10px);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.pickDown {
	animation-name: pickDown;
    animation-duration: 0.7s;	
    opacity: 0;
}

@keyframes pickDown {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% { 
		transform: scale(1.1) translateY(10px);
		opacity: 0;
	}
}


.col-player-id {
	width: 16%;
	justify-content: flex-end;
	padding-bottom: 0.3em;
}

.player-id {
	margin: 0;
	text-align: right;
}

.col-player-name {
	width: 46%;
}
.col-player-horse {
	width: 11%;
}
.col-player-bet {
	width: 11%;
}

#menu-buttons {
	justify-content: center;
}

/* ----------------------
 Desktop only properties
------------------------- */

@media screen and (min-width: 768px) {
	.desktop-hidden {
		display: none;
	}
}

/* -----------------
 RESPONSIVE ASPECTS
-------------------- */

@media screen and (max-width: 768px) {
	/* ------------
 	 common layout
	--------------- */
	.row {
		flex-direction: column;
		align-items: center;
	}
	
	.hor-margin {
		margin-top: 0.3em;
		margin-bottom:0.3em;
	}

	.mobile-hidden {
		display: none;
	}

	/* ---------
 	 Menu stuff
	------------ */

	.col-player-id {
		width: 100%;
		justify-content: center;
		margin-top: 1em;
	}

	.player-id {
		text-align: center;
	}
	
	.col-player-name {
		width: 100%;
	}
	.col-player-horse {
		width: 100%;
	}
	.col-player-bet {
		width: 100%;
	}

	#menu-buttons {
		flex-direction: row;
		flex-wrap: wrap;
	}
}