body {
	background: #009933;
	font-family: "Source Sans Pro";
}

#wrapper {
	font-size: 1em;
	height: 800px;
	width: 800px;
	margin: auto;
}

#site-title {
	text-align: center;
	font-size: 3em;
	font-style: italic;
	color: white;
}

#site-description {
	text-align: center;
	font-family: inherit;
}

#horse-img {
	position: absolute;
	width: 40em;
	left: 60em;
	top: 7em;
	z-index: -1;
}
#players-number {
	height: 2em;
	width: 2.5em;
	margin-bottom: auto;
	margin-top: auto;
}

#players-number-holder {
	width: 33em;
}

.field-title {
	margin-right: 1em;
}
.row {
	display: flex;
	justify-content: center;
}

.column {
	margin-right: 5em;
}

.col-player-id {
	margin-top: 3em;
	margin-right: 1em;

}

select {
	background-color: #FFFF99;
	border-color: black;
	border-radius: 4px;
}

#input-start {
	margin-right: 6em;
}

#input-rules {
	margin-right: 1em;
}

