body {
	background: #009933;
	font-family: "Source Sans Pro";
}

#wrapper {
	font-size: 1em;
	height: 800px;
	width: 800px;
	margin: auto;
}

#site-title {
	text-align: center;
	font-size: 3em;
	font-style: italic;
	color: white;
}

#site-description {
	text-align: center;
	font-family: inherit;
}

#horse-img {
	position: absolute;
	width: 40em;
	left: 60em;
	top: 7em;
	z-index: -1;
}

.row {
	display: flex;
	justify-content: center;
}

.column {
	margin-right: 5em;
}

.col-player-id {
	margin-top: 3em;
	margin-right: 1em;

}

select {
	background-color: yellow;
}

